<?xml version="1.0" encoding="utf-8"?>

<!-- android:screenOrientation="portrait": 画面を縦に固定 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:screenOrientation="portrait"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- 加速度、位置情報を取得するのに必要-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- ファイルを書き込むのに必要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- android:name=".hilt.App":  Hiltを使うのに必要-->
    <!--android:requestLegacyExternalStorage="true": ファイルを書き込むのに必要-->
   <application
       android:name=".hilt.App"
       android:allowBackup="true"
       android:dataExtractionRules="@xml/data_extraction_rules"
       android:fullBackupContent="@xml/backup_rules"
       android:icon="@mipmap/ic_launcher"
       android:label="@string/app_name"
       android:supportsRtl="true"
       android:theme="@style/Theme.EstimateAirPressureDecrease"
       android:requestLegacyExternalStorage="true"
       tools:targetApi="31">
       <activity
           android:name=".MainActivity"
           android:exported="true"
           android:label="@string/app_name"
           android:theme="@style/Theme.EstimateAirPressureDecrease">
           <intent-filter>
               <action android:name="android.intent.action.MAIN" />

               <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
       </activity>
   </application>

</manifest>